@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}

<div class="bgimg-1" style="background-image: url('https://doc-0k-5c-docs.googleusercontent.com/docs/securesc/990cu2kd6eol9fgdmsm1sbrhf1p1bhta/458gia63ke6fc6vmr1vseu3pcre7e9ju/1560002400000/17294940138668139150/05630067352329843252/161sZHQhu_hMgU7sfECod544IwVYqzc2J?e=view')">
    <div class="caption">
        <span class="border">You want to reach a place...</span>
    </div>
</div>

<div style="color: #777;background-color:white;text-align:center;padding:50px 80px;text-align: justify;">
    <h3 style="text-align:center;">But you don't know how.</h3>
    @*<p>Parallax scrolling is a web site trend where the background content is moved at a different speed than the foreground content while scrolling. Nascetur per nec posuere turpis, lectus nec libero turpis nunc at, sed posuere mollis ullamcorper libero ante lectus, blandit pellentesque a, magna turpis est sapien duis blandit dignissim. Viverra interdum mi magna mi, morbi sociis. Condimentum dui ipsum consequat morbi, curabitur aliquam pede, nullam vitae eu placerat eget et vehicula. Varius quisque non molestie dolor, nunc nisl dapibus vestibulum at, sodales tincidunt mauris ullamcorper, dapibus pulvinar, in in neque risus odio. Accumsan fringilla vulputate at quibusdam sociis eleifend, aenean maecenas vulputate, non id vehicula lorem mattis, ratione interdum sociis ornare. Suscipit proin magna cras vel, non sit platea sit, maecenas ante augue etiam maecenas, porta porttitor placerat leo.</p>*@
</div>

<div class="bgimg-2" style="background-image: url('https://doc-0c-5c-docs.googleusercontent.com/docs/securesc/990cu2kd6eol9fgdmsm1sbrhf1p1bhta/rvvikgo0u45fmad3qgnsppok4ap2grpq/1560002400000/17294940138668139150/05630067352329843252/1ot2QmmJ6CL6-EvCBy_81MVUkYjxEqcg0?e=view')">
    <div class="caption">
        <span class="border" style="background-color:transparent;font-size:25px;color: #f7f7f7;text-shadow:1px 1px 5px #fff, 1px 1px 10px #ccc;"><b>Well, you can use the rail transport...</b></span>
    </div>
</div>

<div style="position:relative;">
    <div style="color:#ddd;background-color:#282E34;text-align:center;padding:50px 80px;text-align: justify;">
        <p>But you've never been on a train or in a train station in your life.</p>
    </div>
</div>

<div class="bgimg-3" style="background-image: url('https://doc-0c-5c-docs.googleusercontent.com/docs/securesc/990cu2kd6eol9fgdmsm1sbrhf1p1bhta/b3ddtnvqs2b7d4c2q88k9vkajrjbe2pe/1560002400000/17294940138668139150/05630067352329843252/1rg5D1W4bt1wicc-qtbkDiY_7yANbI4um?e=view')">
    <div class="caption">
        <span class="border" style="background-color:transparent;font-size:25px;color: #f7f7f7;text-shadow:1px 1px 5px #fff, 1px 1px 10px #ccc;"><b>You can let me lead the way...</b></span>
    </div>
</div>

<div style="position:relative;">
    <div style="color:#ddd;background-color:#282E34;text-align:center;padding:50px 80px;text-align: justify;">
        <p>But first you need to have an account. You can <a asp-area="Identity" asp-page="/Account/Register">sign up</a> for free.
    </div>
</div>

<div class="bgimg-1" style="background-image: url('https://doc-0o-5o-docs.googleusercontent.com/docs/securesc/ha0ro937gcuc7l7deffksulhg5h7mbp1/gnbbq1p9o1b2458foqqp6ajv00b0gi0b/1560002400000/17294940138668139150/*/1zZp5BwyVyui_smI5bVXhWsQtJZQvgjpJ?e=view'); padding-bottom: 100px; padding-top: 100px;">
    <div class="caption">
        <span class="border" style="font-size: 20px; background-color: #ABABAB; color: #111; padding: 7px">And I will plan the best and cheapest itinerary for you.</span>
    </div>
</div>
