@model int

<td style="width:150px">
    <div class="btn-group" role="group">
        <a class="btn btn-primary" href="@Url.Action($"Edit/{Model}")">
            <i class="fas fa-edit"></i>
        </a>
        <a class="btn btn-success" href="@Url.Action($"Details/{Model}")">
            <i class="fas fa-th-list"></i>
        </a>
        <a class="btn btn-danger" href="@Url.Action($"Delete/{Model}")">
            <i class="fas fa-trash-alt"></i>
        </a>
    </div>
</td>