@model ApplicationUser
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

@*@if (User.IsInRole(StaticDetails.AdminUser))
{
    <a class="nav-link" asp-area="Admin" asp-controller="MapsManagement" asp-action="Index">Manage Maps</a>
}*@

<h2>@Model.Map.GraphString</h2>